html,body{
	height:85%;

}
#section-1{
	background:#555 url('../images/yellow.jpg') center no-repeat;
	background-size:cover;
	width:100%;

}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
/* stroke */
nav.stroke ul li a {
  position: relative;
}
nav.stroke ul li a:after{
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: yellow;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid yellow;
    margin: 0;
    padding: 0; 
}
#cov{
	width:75%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding-top:6rem;
	padding-bottom:6rem;
}
#cov h1,#cov p{
	color:white;
}
#btn1{
	margin-top:2rem;
	border-radius:0rem;
}

#section-2{
	padding-top:5rem;
	padding-bottom:5rem;
}
#line-2{
	padding-top:2rem;
}
.img12{
	padding-bottom:2rem;
}
.img1{
	max-width:100%;
	padding-left: 0px;
	padding-right: 0px;
}
.obj1{
	padding-top:4px;
}
#section-4{
	padding-top:5rem;
}
.style-card{
	border-right-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
    border-top-width: 0px;

}
.card-body-style{
	padding-left: 0px;
	padding-right: 0px;
} 
#section-5{
	padding:5rem 0;
}
#section-5 img{

}
.area{
	padding-left: 0px;
	padding-right: 0px;
}
#btn2{
	margin-top:2rem;
	margin-bottom:3rem;
	border-radius:0rem;
}				    
#section-7{
	background-color:#ffff00;
	padding:2rem 0 1rem 0;
}
#section-8{
	background-color: #e6e600;
	padding-top:0.1875rem;
	padding-bottom:0.1875rem;
}
#section-8 p{
	margin-top:0.8rem;
}










